<h1>Job Opportunities</h1>

<div>
    <ul>
        <li *ngFor="let job of jobs; let i = index">
            <div class="card" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">{{job.objective}}</h5>
                    <p class="card-text">{{job.tagline}}</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </li>
    </ul>
</div>
